


.develop-menu{


  z-index: 1000000;

  display: block;
  position: fixed;

  top: 70px;
  left: 20px;

  //height: 300px;

  background-color: #cccccc;
  padding: 4px;


  border-radius: 3px;


}


.fps{
  z-index: 1000000;

  display: block;
  position: fixed;

  top: 20px;
  right: 20px;

  //height: 300px;

  background-color: #cccccc;
  padding: 4px;


  border-radius: 3px;
}