

nav{

  .turn-right, .turn-left{

    margin: 5px;
    padding: 7px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 3px;


    color: #000;

    font-size: 2em;

    &:hover{
      color: #ff1b0e;

    }


  }
  .turn-right{

    position: fixed;
    top: 50%;
    right: 0px;

  }

  .turn-left{

    position: fixed;
    top: 50%;
    left: 0px;
  }
}