

#newsletter-window{

  z-index: 7000;
  /*position: fixed;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  /*box-shadow: #000000 0 0 15px 0;*/

  background-color: #fff;

  //border: 2px solid #aaa;
  width: 20vw;
  min-width: 200px;


  margin: 0px;
  padding: 10px;




  .arrow{

    display: block;

    bottom: 100%;
    left: 60px;
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;


    //border-color: #27ff02;
    //border-width: 15px;

    border: 20px solid transparent;
    border-bottom: 20px solid #fff;

    margin-left: -15px;


  }

  .close{
    float: right;
    color: #111;

    //border: 2px solid #ccc;

    cursor: pointer;

    margin-right: -10px;
    margin-top: -10px;
    padding: 10px;

  }



  /*&:after, &:before {
    bottom: 100%;
    left: 60px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
  }

  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #aaa;
    border-width: 18px;
    margin-left: -18px;
  }*/



}



*[popup-content]{
  cursor: pointer;
}





