.profile {

  display: block;

  text-align: center;

  //border: 2px dotted #f00;


  .avatar {

    display: inline-block;

    width: 150px;
    max-width: 80%;

    /*border: 2px solid #000000;*/
    border-radius: 1000px;

  }

  .name {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    margin: 10px;

  }

  .subname {

    display: inline-block;

    font-size: 1.4em;

    margin-bottom: 20px;

  }


  .about{
    //border: 2px solid #aaa;
    text-align: justify;
  }

}