@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
  background: #fff;
  /* url("../data/backgrounds/page.png");/**/
  /*background: url("data/backgrounds/BrickOldMixedSize0040_1_S.jpg");/**/ }

a {
  text-decoration: none;
  color: #000000;
  outline: 0;
  cursor: Pointer; }

button, .button, input[type="submit"] {
  display: inline-block;
  border: none;
  padding: 0 10px;
  margin: 2px;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer; }

button:hover, .button:hover, input[type="submit"]:hover {
  background-color: #37beff; }

.key {
  display: block;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: rgba(229, 229, 229, 0.69);
  border: 2px solid rgba(51, 51, 51, 0.59);
  cursor: pointer; }
  .key p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.topleft {
  z-index: 5000;
  position: fixed;
  top: 10px;
  left: 10px; }

.bottomright {
  z-index: 5000;
  position: fixed;
  bottom: 10px;
  right: 10px; }

#wasd {
  width: 180px; }
  #wasd .hint {
    /*background-color: rgba(229, 229, 229, 0.69);
    border: 2px solid rgba(51, 51, 51, 0.59);*/
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: #000000 1px 1px; }
  #wasd img {
    position: relative;
    left: -50px; }

/*
#wasd{

  height: 100px;
  border: 2px solid red;

  td{
    border: 2px solid #b0ffa3;
  }
}*/
/**
 * @author Towns.cz
 * @fileOverview Style of Towns inner window
 */
.popup-window {
  z-index: 7000;
  position: fixed;
  top: 80px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  /*box-shadow: #000000 0 0 15px 0;*/
  max-width: 800px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  .popup-window .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    margin: 0;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    /*color: white;*/
    /*background-color: black;*/
    /*background-color: rgba(0, 0, 0, 0.85);*/
    color: black;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    border-bottom: 1px solid #bababa; }
    .popup-window .header ul {
      margin: 0px;
      padding: 0px; }
    .popup-window .header ul li {
      display: inline-block;
      list-style: none;
      width: 150px;
      margin: 0px;
      padding: 2px;
      border-right: 1px solid #bababa; }
    .popup-window .header ul li:last-child {
      border-right: none; }
    .popup-window .header ul .selected {
      font-weight: bold; }
  .popup-window .content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    background-color: white; }
    .popup-window .content img {
      max-width: 100%; }
    .popup-window .content a {
      text-decoration: underline;
      color: #0b76cc; }
    .popup-window .content .full-loading {
      text-align: center;
      position: absolute;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      padding-top: 150px;
      background-color: rgba(255, 255, 255, 0.9); }
    .popup-window .content iframe {
      border: none;
      width: 100%;
      height: 100%; }
  .popup-window .close, .popup-window .back {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .popup-window .close {
    right: 0px; }
  .popup-window .back {
    left: 0px; }

.popup-window-small {
  max-width: 500px;
  top: 0;
  bottom: 0;
  top: calc(50% - 200px);
  bottom: calc(50% - 100px); }

.popup-window-vertical {
  max-width: 500px;
  top: 0;
  bottom: 0;
  top: calc(70px);
  bottom: calc(120px); }

.popup-window-iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 auto;
  padding: 0; }

.page-column-2 {
  display: inline-block;
  width: calc(50% - 2px);
  height: calc(100% - 50px );
  overflow: hidden;
  vertical-align: top; }

.full-scroll-column {
  width: calc(100% + 15px );
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

/* OVERLAY -----------------------------------------------------------------------------------------------------------*/
.overlay {
  z-index: 6000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7); }

/*
.popup-window{


  .button-icon{

    @include button-icon(26px, $button-icon-color-light);

  }

}

*/
/*html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}*/
#scene {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  touch-action: none; }

section#zones {
  z-index: 5000;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 5px;
  text-align: center; }

.zone-board {
  display: block;
  cursor: pointer;
  width: 320px;
  max-height: calc(100vh - 100px );
  background-color: #fff;
  border-radius: 3px;
  margin: 4px;
  padding: 4px;
  /*&:hover{

    .next{
      color: #37beff;


    }
  }*/ }
  .zone-board h1 {
    margin: 0px;
    font-size: 2em;
    width: calc(100% - 12px);
    background-color: #ddd;
    padding: 6px;
    margin-bottom: 10px; }
  .zone-board h1.important {
    font-size: 1.5em; }
  .zone-board .text {
    font-size: 1.5em; }
    .zone-board .text .gallery {
      display: block;
      text-align: center; }
      .zone-board .text .gallery img {
        display: inline-block;
        width: 90px; }
        .zone-board .text .gallery img:hover {
          width: 86px;
          border: 2px solid #37beff; }
  .zone-board .next, .zone-board .previous {
    font-size: 2em; }
    .zone-board .next:hover, .zone-board .previous:hover {
      color: #37beff; }

.zone-menu {
  z-index: 10;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #111111;
  /*background: #000 url("../data/backgrounds/menu.png");*/
  padding: 5px;
  margin: 0px;
  text-align: center; }
  .zone-menu * {
    color: #cccccc;
    text-decoration: none; }
  .zone-menu h1 {
    z-index: 1;
    background-color: #111111;
    display: inline-block;
    float: left;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px;
    padding: 0;
    text-align: left; }
    .zone-menu h1 img {
      float: left;
      max-height: 30px;
      border-radius: 3px;
      margin: -5px;
      margin-right: 7px; }
  .zone-menu .text {
    z-index: 2;
    background-color: #111111;
    display: inline-block;
    margin: 5px;
    vertical-align: middle; }
    .zone-menu .text ul {
      text-align: center;
      display: inline-block;
      list-style: none;
      font-size: 1.1em;
      margin: 0px;
      padding: 0px; }
      .zone-menu .text ul li {
        display: inline-block;
        list-style: none;
        font-size: 1em; }
        .zone-menu .text ul li a {
          display: block;
          width: 200px;
          border-left: 1px solid #cccccc; }
          .zone-menu .text ul li a:hover {
            color: #c3fffc; }
        .zone-menu .text ul li a.current {
          color: #c3fffc;
          font-weight: bold; }
      .zone-menu .text ul li:first-child a {
        border-left: none; }
  .zone-menu .buttons {
    display: inline-block;
    float: right;
    margin-right: 20px;
    color: #fff;
    vertical-align: top; }
    .zone-menu .buttons * {
      color: white; }
    .zone-menu .buttons button {
      padding: 0 10px;
      margin: 2px;
      min-width: 100px;
      height: 25px;
      line-height: 15px;
      font-size: 16px;
      border-radius: 3px; }

.zone-panel {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 320px;
  background-color: #ccc; }
  .zone-panel h1 {
    margin: 0px;
    font-size: 2em;
    width: calc(100% - 12px);
    background-color: #ddd;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 40px; }

.zone-player {
  display: block;
  color: #ccc;
  text-shadow: #000 0px 0px 5px; }

nav .turn-right, nav .turn-left {
  margin: 5px;
  padding: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 3px;
  color: #000;
  font-size: 2em; }
  nav .turn-right:hover, nav .turn-left:hover {
    color: #17557c; }
nav .turn-right {
  position: fixed;
  top: 50%;
  right: 0px; }
nav .turn-left {
  position: fixed;
  top: 50%;
  left: 0px; }

section.feed {
  display: block;
  width: 100%;
  text-align: center; }
  section.feed article {
    display: inline-block;
    width: 90px;
    /*height: 100px;*/
    text-align: center;
    vertical-align: top;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer !important; }
    section.feed article a {
      text-decoration: none !important;
      color: black !important; }
    section.feed article img {
      width: 90px;
      height: 90px;
      border-radius: 100px !important; }
    section.feed article .title {
      margin: 0;
      font-size: 1.1em; }
    section.feed article .type {
      margin: 0;
      font-size: 0.9em;
      color: #444; }
      section.feed article .type i {
        margin-left: 5px; }
    section.feed article .date {
      margin: 0;
      font-size: 0.9em;
      color: #44f; }

.develop-menu {
  z-index: 1000000;
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #cccccc;
  padding: 4px;
  border-radius: 3px; }

.fps {
  z-index: 1000000;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #cccccc;
  padding: 4px;
  border-radius: 3px; }
