


.zone-button {

  display: block;
  border: none;
  padding: 0 10px;
  margin: 2px;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  //background-color: #0098ff;
  //color: white;
  cursor: pointer;

}