.zone-panel{

  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;


  width: 320px;


  background-color: #ccc;



  h1{
    margin: 0px;
    font-size: 2em;

    width:calc(100% - 12px);

    background-color: #ddd;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 40px;

  }

  .text {




  }





}