



.zone-player{



  display: block;

  //cursor: pointer;

  //width: 50px;
  //max-height: calc( 100vh - 100px );

  //background-color: #fff;
  //border-radius: 3px;

  //margin: 4px;
  //padding: 4px;


  color: #ccc;
  text-shadow: #000 0px 0px 5px;


}