.block {
  user-select: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px; }

#admin-world .block {
  z-index: 10; }

.block[data-shape="none"] {
  background-color: #88a9a5; }

.block[data-shape="room"] {
  background-color: #f8f8f8; }

.block[data-shape="wall"] {
  background-color: #444; }

.block[data-shape="door"] {
  background: url("../../images/icons/door.svg");
  background-size: cover; }

.block[data-shape="window"] {
  background: url("../../images/icons/window.svg");
  background-size: 70% 70%;
  background-position: 15% 15%; }
