



main{

  z-index: 1000;

}

#admin-world-basement {

  z-index: 990;

  user-select: none;

  //cursor: not-allowed;
  opacity: 0.2;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}

#admin-world {

  z-index: 1000;

  user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;


  //background-color: #88a9a5;


  /*&::selection{

    background: gray;
  }*/


}



#dot{

  z-index: 2000;

  width: 10px;
  height: 10px;

  border-radius: 30px;

  border: 2px solid #000;
  background-color: #ffd29b;

}




//=======================================================================================





.block {

  user-select: none;

  display: inline-block;

  width: 30px;
  height: 30px;

  margin: 0px;
  padding: 0px;

  //border: 1px solid #ccc;
}



.block {

  z-index: 10;
  overflow: hidden;

  img {

    position: relative;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 70%;

    transform: translate(-50%, -50%);

    border: none;

  }


}


  //=======================================================================================


#admin-world,#admin-world-basement {

    .light {

      z-index: 30;
      user-select: none;

      display: block;

      i {

        font-size: 30px;

        cursor: move;

        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);


        display: block;

        text-align: center;
        width:30px;
        height:30px;
        background-color: #000;
        border-radius: 30px;

        box-shadow: #fff 0px 0px 5px;


      }



    }

    //=======================================================================================

    .label, .tree {

      z-index: 30;
      user-select: none;
      display: block;

      i {

        font-size: 30px;

        cursor: move;

        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);

        //border: 2px solid #022fff;
        //border-top: 2px dotted #ff0010;

      }

    }

    //=======================================================================================

    .image, stairs {

      z-index: 20;

      user-select: none;

      display: block;

      /*width: 30px;
      height: 30px;

      margin: 0px;
      padding: 0px;

      border-radius: 30px;

      background-color: #7dfff8;*/



      img {

        cursor: move;

        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);

        //border: 2px solid #022fff;
        //border-top: 2px dotted #ff0010;

      }



      /*.image-90{

        transform: rotate(90deg) translate(-50%, -50%);
        border: 2px solid #022fff;
      }
      .image-180{

        transform: rotate(180deg) translate(-50%, -50%);
        border: 2px solid #cbf0ff;
      }
      .image-270{

        transform: rotate(270deg) translate(-50%, -50%);
        border: 2px solid #ffbd60;
      }*/

      /*.arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid black;
      }*/

    }

}




