main {
  z-index: 1000; }

/*#admin-world-basement {

  z-index: 990;

  user-select: none;

  //cursor: not-allowed;
  opacity: 0.2;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}*/
/*canvas{

  border: 2px solid red;
}*/
#admin-world {
  z-index: 1000;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /*&::selection{

    background: gray;
  }*/ }

#admin-world-canvas {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

#dot {
  z-index: 2000;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  border: 2px solid #000;
  background-color: #ffd29b; }

.block {
  user-select: none;
  display: inline-block;
  margin: 0px;
  padding: 0px; }

.block {
  z-index: 10;
  overflow: hidden; }
  .block img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    border: none; }

#admin-world .light, #admin-world-basement .light {
  z-index: 30;
  user-select: none;
  display: block; }
  #admin-world .light i, #admin-world-basement .light i {
    font-size: 30px;
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 30px;
    box-shadow: #fff 0px 0px 5px; }
#admin-world .label, #admin-world .tree, #admin-world .link, #admin-world .gate, #admin-world-basement .label, #admin-world-basement .tree, #admin-world-basement .link, #admin-world-basement .gate {
  z-index: 30;
  user-select: none;
  display: block; }
  #admin-world .label i, #admin-world .tree i, #admin-world .link i, #admin-world .gate i, #admin-world-basement .label i, #admin-world-basement .tree i, #admin-world-basement .link i, #admin-world-basement .gate i {
    font-size: 30px;
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%); }
#admin-world .image, #admin-world stairs, #admin-world-basement .image, #admin-world-basement stairs {
  z-index: 20;
  user-select: none;
  display: block;
      /*width: 30px;
      height: 30px;

      margin: 0px;
      padding: 0px;

      border-radius: 30px;

      background-color: #7dfff8;*/
      /*.image-90{

        transform: rotate(90deg) translate(-50%, -50%);
        border: 2px solid #022fff;
      }
      .image-180{

        transform: rotate(180deg) translate(-50%, -50%);
        border: 2px solid #cbf0ff;
      }
      .image-270{

        transform: rotate(270deg) translate(-50%, -50%);
        border: 2px solid #ffbd60;
      }*/
      /*.arrow-up {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;

        border-bottom: 5px solid black;
      }*/ }
  #admin-world .image img, #admin-world stairs img, #admin-world-basement .image img, #admin-world-basement stairs img {
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%); }
