
#message-zone{

  width: 100%;
}

.message{
  //width: 100%;
  font-weight: bold;


  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #ccc;


}


.error{
  color: #ff1b0e;
}


.success{
  color: #3cff6b;
}

.info{
  color: #6287ff;
}


.warning{
  color: #ff9e41;
}