
.palette{

  div{

    display: inline-block;

    i{
      cursor: move;
      display: inline-block;
      font-size: 30px;
    }


  }



  .block {
    border: 2px solid transparent;
  }
  .selected{
    border: 2px solid $selected !important;
  }



  .select-storeys, .select-zooms, .select-worlds{
    ul{

      margin: 0;
      padding: 0;

      li{

        display: inline-block;
        cursor: pointer;

        list-style: none;
        margin: 2px;
        padding: 4px;
        background-color: #88a9a5;
        border: 2px solid transparent;
      }
    }

  }
  .select-materials, .select-shapes{
    div{
      cursor: pointer;
    }
  }



  /*.select-dot-objects{

    *{
      position: static!important;
    }


  }*/




}