

.not-selected-object:not(.block){
  opacity: 0.3;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);

}



#selected-properties{
  display: none;
  border: 2px solid $selected;
}