

.not-selected-object:not(.block){
  opacity: 0.3;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);

}



#selected-properties{
  display: none;
  border: 2px solid $selected;


  .field{

    display: block;
    border-bottom: 1px solid #cccccc;

    label{
      //border: 2px solid $selected;
      display: inline-block;
      width: 80px;
      font-weight: bold;
    }
    input{
      display: inline-block;
      width: 80px;
      border: none;
    }



  }
}