#admin-world .block {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  background-color: #fff; }
#admin-world .block[data-material="stone"] {
  background-color: #444; }

#admin-tools {
  position: fixed;
  top: 20px;
  right: 20px; }
  #admin-tools button {
    border: none;
    background-color: aqua; }
