



main{

  z-index: 1000;

}


#admin-world {

  z-index: 1000;

  user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  /*&::selection{

    background: gray;
  }*/

}





//=======================================================================================





.block {

  user-select: none;

  display: inline-block;

  width: 30px;
  height: 30px;

  margin: 0px;
  padding: 0px;

  //border: 1px solid #ccc;
}



.block[data-shape="room"] {
  background-color: #f4f4f4;
}
.block[data-shape="wall"] {
  background-color: #444;
}
.block[data-shape="door"] {
  background-color: #a94616;
}



//=======================================================================================


#admin-world {

  .light {

    user-select: none;

    display: block;

    i {

      font-size: 30px;

      cursor: move;

      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(-50%, -50%);


      display: block;

      text-align: center;
      width:30px;
      height:30px;
      background-color: #000;
      border-radius: 30px;

    }

  }

  //=======================================================================================

  .label {

    user-select: none;
    display: block;

    i {

      font-size: 30px;

      cursor: move;

      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(-50%, -50%);

      //border: 2px solid #022fff;
      //border-top: 2px dotted #ff0010;

    }

  }

  //=======================================================================================

  .image {

    user-select: none;

    display: block;

    /*width: 30px;
    height: 30px;

    margin: 0px;
    padding: 0px;

    border-radius: 30px;


    background-color: #7dfff8;*/

    img {

      cursor: move;

      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(-50%, -50%);

      //border: 2px solid #022fff;
      //border-top: 2px dotted #ff0010;

    }

    /*.arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid black;
    }*/

  }

}




