.block {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #ccc;
  background-color: #fff; }

.block[data-material="wall"] {
  background-color: #444; }

.block[data-material="door"] {
  background-color: #a98d2e; }

.block[data-material="light"] {
  background-color: #feff95; }

.selected {
  border: 2px solid #f00; }

#admin-tools {
  position: fixed;
  top: 20px;
  right: 20px; }
  #admin-tools button {
    border: none;
    background-color: aqua; }
  #admin-tools .palette {
    border: 2px solid #ccc; }
