



.info {

  z-index: 3000;

  //display: block;

  position: fixed;
  top: 10px;
  right: 10px;




  //width: 100vw;
  width: 500px;
  height: 500px;

  background-color: #eef8ff;
  //background-color: #444;
  //background: #000 url("images/backgrounds/menu.png");

  padding: 5px;
  margin: 0px;

  font-size: 1.1em;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;

  /*text-align: center;*/

  /*display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;*/




  h2{

    //color: #000000!important;
    font-size: 2em;
  }
  h1{

    //color: #000000!important;
    font-size: 3em;
  }


  /** {
    color: #cccccc;
    text-decoration: none;
    text-shadow: 0px 0px 1px #000000;

  }*/
}




.profile{

  display: inline-block;

  width: calc( 50% - 50px );


  padding: 20px;



  text-align: center;

  //border: 2px solid red;


  img{

    width: 180px;
    height: 180px;
    border-radius: 200px;


    box-shadow: #0b0c0d 0 0 5px;


  }

  .name{

    display: block;

    margin: 0px;margin-top:20px;margin-bottom:0px;

    font-weight: normal;
    font-size: 1.7em;


  }
  .suburl{

    display: block;

    margin: 0px;margin-top:0px;margin-bottom:0px;
    padding: 0px;

    text-decoration: none;
    color: #888;

    font-weight: normal;
    font-size: 1em;


  }
  .subname{

    display: block;

    margin: 0px;margin-top:0px;margin-bottom:0px;
    padding: 0px;

    font-weight: normal;
    font-size: 1.3em;
  }
  .description{

    display: block;

    margin: 0px;
    padding: 0px;

    font-weight: normal;
    font-size: 1em;
  }




  &.co-author{
    transform: scale(0.8);
    /*img{

      width: 100px;
      height: 100px;


    }*/

  }


}
















