/**
 * @author Towns.cz
 * @fileOverview Style of Towns inner window
 */
.popup-window {
  z-index: 7000;
  position: fixed;
  top: 80px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  /*box-shadow: #000000 0 0 15px 0;*/
  max-width: 800px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  .popup-window .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    margin: 0;
    height: 39px;
    line-height: 39px;
    font-size: 18px;
    /*color: white;*/
    /*background-color: black;*/
    /*background-color: rgba(0, 0, 0, 0.85);*/
    color: black;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    border-bottom: 1px solid #bababa; }
    .popup-window .header ul {
      margin: 0px;
      padding: 0px; }
    .popup-window .header ul li {
      display: inline-block;
      list-style: none;
      width: 150px;
      margin: 0px;
      padding: 2px;
      border-right: 1px solid #bababa; }
    .popup-window .header ul li:last-child {
      border-right: none; }
    .popup-window .header ul .selected {
      font-weight: bold; }
  .popup-window .content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    background-color: white; }
    .popup-window .content img {
      max-width: 100%; }
    .popup-window .content a {
      text-decoration: underline;
      color: #0b76cc; }
    .popup-window .content .full-loading {
      text-align: center;
      position: absolute;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      padding-top: 150px;
      background-color: rgba(255, 255, 255, 0.9); }
  .popup-window .close, .popup-window .back {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .popup-window .close {
    right: 0px; }
  .popup-window .back {
    left: 0px; }

.popup-window-small {
  max-width: 500px;
  top: 0;
  bottom: 0;
  top: calc(50% - 200px);
  bottom: calc(50% - 100px); }

.popup-window-vertical {
  max-width: 500px;
  top: 0;
  bottom: 0;
  top: calc(70px);
  bottom: calc(120px); }

.popup-window-command {
  max-width: 500px;
  max-height: 20px;
  top: calc(70px); }
  .popup-window-command * {
    background-color: red !important; }

.popup-window-iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 auto;
  padding: 0; }

.page-column-2 {
  display: inline-block;
  width: calc(50% - 2px);
  height: calc(100% - 50px );
  overflow: hidden;
  vertical-align: top; }

.full-scroll-column {
  width: calc(100% + 15px );
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

/* OVERLAY -----------------------------------------------------------------------------------------------------------*/
.overlay {
  z-index: 6000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7); }

/*
.popup-window{


  .button-icon{

    @include button-icon(26px, $button-icon-color-light);

  }

}

*/
